body {
  background-color: #333;
  margin: 0 auto;
}

video {
  margin: 0;
  padding:0;
  height:auto;
  width: 100%;
  z-index: -100;
}

#controls {
  margin: 0 auto;
  margin-top: 2em;
  width: 33%;
  text-align: center;
  padding: 2em;
}

#controls button {
  font-size: 2em;
}
