body {
  background-color: #ddd;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
  color: #333;
}

video {
  margin: 0;
  padding:0;
  height:auto;
  max-height: 95vh;
  width: 100%;
  z-index: -100;
}

a {
  color: #333;
}


a:hover {
  text-decoration: none;
}

#controls {
  margin: 0 auto;
  margin-top: 1em;
  width: 33%;
  text-align: center;
}

#controls button {
  font-size: 2em;
}

#related_content_items {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}

#related_content_items li {
  background-color: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  box-shadow: 3px 3px 6px #aaa;
}

#related_content_items li.wikilink {
  width: 25%;
}

#related_content_items li.wikilink > div {
  margin: 1em;
}

#related_content_items li.image {
  width: 25%;
}


#related_content_items li.image img {
  width: 100%;
}

#related_content_items li.video {
  width: 25%;
}

#related_content_items li h2 {
  text-transform: uppercase;
  margin-top:0;
  margin-bottom: 1em;
}

#related_content_items li h2 a {
  text-decoration: none;
}

#related_content_items li h2 a:hover {
  text-decoration: underline;
}

.news_labs_logo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#overlay {
  position: absolute;
  top: 0px;
  margin: 0;
  padding: 0;
}
