<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deja - BBC News Labs Neurotech test rig</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="/faye/client.js"></script>
    <script type="text/javascript" src="/js/vendor/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/vendor/mustache.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>

  <body>
    {{{content}}}
  </body>
</html>

