<ul id="related_content_items">
</ul>
<script id="related_content_item_template" type="x-tmpl-mustache">
{{=<% %>=}}
  <h2><a href="{{url}}" target="_blank">{{title}}</a></h2>
  <p class="snippet">{{{snippet}}}...</p>
<%={{ }}=%>
</script>
