<ul id="related_content_items">
</ul>
<script id="related_content_item_template" type="x-tmpl-mustache">
{{=<% %>=}}
  <div>
    <h2><a href="{{url}}" target="_blank">{{title}}</a></h2>
    <p class="snippet">{{{snippet}}}...</p>
  </div>
<%={{ }}=%>
</script>
<div class="news_labs_logo">
  <img src="/img/news_labs.png" alt="BBC News Labs" />
</div>
